<div class="border border-primary d-grid gap-3 p-5 mb-3">
  <div class="row bg-gradient" >
    <h4 class="text-center">Add a movie</h4>
    <p class="text-center">Please add a movie in the list of movie</p>
  </div>
  <hr/>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <label for="title" class="form-label">* Title</label>
        <input type="text" class="form-control" formControlName="title" id="title" >
      </div>
      <div class="col-md-6">
        <label for="budget" class="form-label">Budget</label>
        <input type="text" class="form-control" formControlName="budget" id="budget">
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <label for="originalLang" class="form-label">Original Language</label>
        <input type="text" class="form-control" formControlName="originalLang" id="originalLang" >
      </div>
      <div class="col-md-6">
        <label for="originalTitle" class="form-label">Original Title</label>
        <input type="text" class="form-control" formControlName="originalTitle" id="originalTitle">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="popularity" class="form-label">Popularity</label>
        <input type="text" class="form-control" formControlName="popularity" id="popularity" >
      </div>
      <div class="col-md-6">
        <label for="releaseDate" class="form-label">Release Date</label>
        <input type="datetime-local" class="form-control" formControlName="releaseDate" id="releaseDate">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="revenue" class="form-label">Revenue</label>
        <input type="text" formControlName="revenue" class="form-control" id="revenue" >
      </div>
      <div class="col-md-6">
        <label for="runtime" class="form-label">Runtime</label>
        <input type="text" formControlName="runtime" class="form-control" id="runtime">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="status" class="form-label">Status</label>
        <input type="text" formControlName="status" class="form-control" id="status" >
      </div>
      <div class="col-md-6">
        <label for="tagline" class="form-label">Tagline</label>
        <input type="text" formControlName="tagline" class="form-control" id="tagline">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="voteAverage" class="form-label">Vote Average</label>
        <input type="number" formControlName="voteAverage" class="form-control" id="voteAverage" >
      </div>
      <div class="col-md-6">
        <label for="voteCount" class="form-label">Vote Count</label>
        <input type="number" formControlName="voteCount" class="form-control" id="voteCount">
      </div>
    </div> <div class="row">
      <div class="col-md-12">
        <label for="overview" class="form-label">Overview</label>
        <input type="text" formControlName="overview" class="form-control" id="overview" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2">
        <button type="submit" class="btn btn-info bg-info text-black float-end ml-2 w-25">Save</button>
      </div>
      <div class="col-md-6 mt-2">
        <button (click)="onCancel()" class="btn btn-danger bg-danger text-white">cancel</button>
      </div>
    </div>
  </form>
</div>
